
@font-face {
  font-family: Sora;
  src: url(font/Sora-Thin.ttf);
}

@media (min-resolution: 200dpi) {
  * {
    font-size: 50px;
  }
}

@media (max-resolution: 200dpi) {
  * {
    font-size: 23px;
  }
}

* {
  font-family: 'Sora';
  font-style: normal;
}

h1 {
  font-size: 25px;
}

body {
  background: #F9F1F0;
}

.new-session, .resume-session, .show-vocabulary {
  text-decoration: none;
}

.center {
  width: 900px;
  margin-left: calc(50% - 450px);
  margin-top: 50px;
  padding: 20px;
}

.name {
  display: inline-block;
  width: 450px;
}

.voc-word {
  display: inline-block;
  width: 450px;
  text-align: left;
}

.voc-action {
  float: right;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.voc-action  a {
  height: 10px;
}

.percentage {
  float: right;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.small-cell {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
}

.cell {
  padding-top: 9px;
  padding-bottom: 9px;
}

.vocabulary {
  height: 80px;
}

.languages-categories {
  margin-bottom: 20px;
}

.languages-category {
  text-decoration: none;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: lightgrey;
}


.words-list:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.vocabulary:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

section:target { display: block; }
section { display: none; }

