

@media (min-resolution: 200dpi) {
  .centering-box {
    left: 10%;
    width: 80%;
  }

  .word {
    margin-bottom: 50px;
  }

  .word-box {
    height: 90px;
  }

  .word-box .field {
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-resolution: 200dpi) {
  .centering-box {
    left: calc(50% - 250px);
    width: 500px;
  }

  .word {
    margin-bottom: 30px;
  }

  .word-box {
    height: 50px;
  }

  .word-box .field {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.words {
  width: 100%;
}

.centering-box {
  position: absolute;
}

.word {
  outline:1px solid black;
}

#current-output {
  height: 100%;
}

.word-box {
  display:table;
  vertical-align: middle;

  width: 100%;
}

.word-box .field {
  display:table-cell;
  vertical-align:middle;

  height: 50px; /* need it for Firefox */
  width: 100%;

  border-width: 0px;
  margin: 0px;

  box-sizing: border-box;
  outline: none;
}

.input .field {
  background: #EAEAEA;
  border-bottom: 1px solid lightgrey;
}

.right-word .result .field {
  background: #E1F1E2;
  color: green;
}

.wrong-word .output .field {
  background: #FFE8E8;
  border-bottom: 1px solid lightgrey;
  text-decoration: line-through;
  color: red;
}

.wrong-word .result .field {
  background: #E1F1E2;
}

.current .output .field {
  background: white;
}
