{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block body %}

  <div class="center">
    <h1>Vocabulary</h1>

    <div class="vocabulary">
      <span class="name cell">Die Beschreibung</span>
      <span class="name cell">La description</span>
      <span class="percentage cell">100%</span>
    </div>

    <div class="vocabulary">
      <span class="name cell">Die Menschen</span>
      <span class="name cell">Les hommes</span>
      <span class="percentage cell">90%</span>
    </div>

    <div class="vocabulary">
      <span class="name cell">Der Bahnhof</span>
      <span class="name cell">La gare</span>
      <span class="percentage cell">60%</span>
    </div>

  </div>

{% endblock %}

