{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block body %}

  <div class="center">
    <h1>Vocabulary</h1>

    {% for vocabulary in vocabularies %}
      <div class="vocabulary">
        <a href="/learn">
          <span class="name cell">{{ vocabulary.name.word_input }}</span>
          <span class="name cell">{{ vocabulary.name.word_output }}</span>
          <span class="percentage cell">100%</span>
        </a>
      </div>
    {% endfor %}

  </div>

{% endblock %}

