{% extends "base.html" %}

{% block title %}Learn{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/learn.css">
{% endblock %}

{% block body %}

  <div class="centering-box">

    <div class="words">
      <div id="current-word" class="word current">
        <div class="word-box input">
          <span id="current-input" class="field"></span>
        </div>
        <div class="word-box output">
          <input autocomplete="off" autofocus id="current-output" class="field" type="text" value=""/>
        </div>
      </div>
    </div>

  </div>

  <!-- used to inform the user of a new word learned! -->
  <div id="wrong-word" style="visibility: hidden;" class="word wrong-word">
    <div class="word-box input">
      <span class="field">
        la peau
      </span>
    </div>
    <div class="word-box output">
      <span class="field">
        die Haut
      </span>
    </div>
    <div class="word-box result">
      <span class="field">
        die Haut
      </span>
    </div>
  </div>

  <!-- used to inform the user of a wrong word -->
  <div id="right-word" style="visibility: hidden;" class="word right-word">
    <div class="word-box input">
      <span class="field">
        la peau
      </span>
    </div>
    <div class="word-box result">
      <span class="field">
        die Haut
      </span>
    </div>
  </div>

{% endblock %}

