{% extends "base.html" %}

{% block title %}Vocabulary{% endblock %}

{% block body %}

  <div class="center">
    <div class="title-bar">
      <span class="title">Vocabulary</span><a href="/new_session?voc_id={{ voc_id }}"><span class="title-action">New</span></a>{% if unfinished_session %}<a href="/learn?session_id={{ unfinished_session.id }}"><span class="title-action">Resume</span></a>{% endif %}
    </div>


    {% for word in voc.words %}
      <div class="words-list">
        <span class="cell voc-word">{{ word.word_output }}</span><span class="cell voc-word">{{ word.word_input }}</span><span class="voc-percentage

        {% if stats.errors_prob_for(word) > 40.0 %}
          voc-word-unknown
        {% endif %}

        ">{{ '%.2f%%' % stats.errors_prob_for(word) }}</span>
      </div>
    {% endfor %}

  </div>

{% endblock %}
